#pregunta-consumidor{
    background-color: rgba(0,0,0,0.5);
    color: white;
    
}
#pregunta-consumidor .modal-content{
    background-color: #389D6D;
    color: white;
}
#pregunta-consumidor .modal-content .btn{
    color: white;
}
#pregunta-consumidor .input-group .form-control{
    border-radius: 10px;
    background-color:rgba(0,0,0,0.0) ;
    border: solid 1px rgba(255,255,255,0.6);
    color: white;
}
#pregunta-consumidor .input-group .form-control::placeholder {

    color: rgba(255,255,255,0.6);
   
}
.btn-usuario-problema{
    margin-bottom: 20px;
    background-color: black;
    color: white;
}
.btn-usuario-entregado{
    margin-bottom: 20px;
    background-color: black;
    color: white;
}
.btn-seguir-emprendimiento button{
    margin-bottom: 20px;
    background-color: black;
    color: white;
    max-width: 350px;
    margin-top: 30px;
}
.btn-noseguir-emprendimiento button{
    margin-bottom: 20px;
    background-color: black;
    color: white;
    max-width: 350px;
    margin-top: 30px;
}
.p-seguir-emprendimiento{
    margin-top: 10px;
    max-width: 380px;
    margin-left: 5px;
}
.flex-column{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.flex-father{
    display: flex;
    margin-top: 10px;
}
.starEmp{
    width: 18px;
    height: 18px;
    margin-left: 7px;
}
.flex-fila{
    display: flex;
    align-items: center;
}
.number{
    
font-family: 'Noto Serif';
font-style: normal;
font-weight: 700;
font-size: 30px;
}
.parraforEmprendimiento{
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
}
.estadisticasEmprendimiento{
   
font-style: normal;
font-weight: 500;
font-size: 18px;
}
.descripcionEmprendimiento{
   
font-style: normal;
font-weight: 400;
font-size: 16px;
color:#909090
}
.homePageWidth1{
    max-width: 90vw;
    display: none;
    
}
.homePageWidth{
    margin-bottom: 40px;
}
.homePageFullWidth{
    width: 100%;
    
}
@media all and (min-width:1000px){
    .homePageWidth1{
       display: block;
    }
    .homePageWidth{
        display: none;
    }

}

#logoCarru{
    width: 60px;
    height: 60px;
    top: 80px
}
#name55{
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: white;
    padding-top: 13px;
}
#name56{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: white;
}
#displayFlexSpaceBet{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#editQuestion{
    padding: 0px;
}
#editQuestion2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.show-details{
    display: block;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    
}
.slide-card2{
    height: 300px;
    width: 300px;
    min-width: 300px;
    position: relative;
    float: left;
    cursor: pointer;
    margin-right: 5px;
    background-color: #666666;
    background-size: auto 100%;
    background-position: center center!important;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.content{
    display: inline-flex;
    width: 100%;
}
.slide-row{
    
        overflow-x: auto;
        margin-bottom: 5px;
    
}
.slide-details{
    background: rgba(0,0,0,0.8);

    background: linear-gradient(to bottom,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.71) 47%,rgba(0,0,0,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=0);
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;

}
.emp-logo2{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #e1e1e1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.emp-logo2{
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 65px;
}
.name2{
    color: #e1e1e1;
    font-size: 14px;
    line-height: 14px;
    width: 260px!important;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin: 143px auto 12px auto;
}
.ponright{
    position: absolute;
    right: 10px;
    top: 10px;
}
.btn-details2{
color: #ffffff;
font-size: 14px;
line-height: 50px;
width: 100%;
height: 50px;
position: absolute;
bottom: 0;
border-top: 1px solid rgba(255,255,255,0.3)}
.productosDestacados{
    font-family: 'Noto Serif';
font-style: normal;
font-weight: 600;
font-size: 30px;
margin-bottom: 30px;
margin-top: -10px;
}
.productosDestacados2{

font-style: normal;
font-weight: 400;
font-size: 18px;
color: #666666;

}
.productosDestacados3{
   
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #666666;
    margin-bottom: 15px;
    }
    .maxx{
        max-width: 500px;
        margin-top: 50px;
    font-weight: 600;
    font-size: 16px;
    background-color: rgba(0,0,0,0.055)!important;
    }

.pone{
    
font-style: normal;
font-weight: 400;
font-size: 24px;
}
.ptwo{
   
font-style: normal;
font-weight: 400;
font-size: 16px;
margin-top: 15px;
margin-bottom: 20px;
}
.marginnn{
    margin-top: 20px;
}
