<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>¡Upss!</title>

	<meta name="description"
		content="Comunidad emprendedora, granferia te brinda la posibilidad de crear tu stand y compartir tu emprendimiento. También vas a poder buscar, guardar y comprar productos o servicios.">

	<!-- Styles -->
	<link href="/css/styles.css" rel="stylesheet" type="text/css">

	<!-- Icons + App name -->
	<div th:replace="fragments :: meta-info"></div>
	<script src="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-auth.js"></script>
	<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-auth.css" />
</head>

<body>
		<!-- Navegación flotante -->
		<nav class="floating-menu inner-page">
			<div class="container">
				<div class="row one-item">
					<div class="col-xs-12">
						<div class="menu-item full--width" onclick="history.back()">
							<img src="/img/gt/nav/close.svg" alt="Cerrar" title="Cerrar página">
						</div>
					</div>
				</div>
	
			</div>
		</nav>
	
		<div class="main-container">
			<div class="segment">
	
				<header>
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<a href="/" target="_self">
									<img src="/img/gt/logo.svg"
										alt="Te damos la bienvenida a granferia, la plataforma de emprendedores"
										class="logo profile-clear" title="granferia">
								</a>
							</div>
						</div>
					</div>
				</header>
	
				<div class="container banner">
					<div class="row">
						<div class="col-xs-12 col-md-5">
							<div class="text-content">
								<h1 class="x5 x5--top">¡Upss!</h1>
								<h2 class="x4">Parece que esta URL no está disponible o ya no existe, en caso de ser un stand esta dirección puede haber sido cambiada por el emprendimiento.</h2>
								
								<a class="btn btn-primary" href="/" target="_self">Ir al home</a>
							</div>
						</div>
	
						<div class="col-xs-12 col-md-6 offset-md-1">
							<span class="helper-img ups"></span>
						</div>
					</div>
				</div>
	
			</div>
		</div>
	
		<div style="position: absolute; bottom: 259px; width: 100%;">
			<div th:replace="fragments :: footer"></div>
		</div>
</body>

	<!-- Javascript -->
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>



</html>