<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>granferia</title>

	<meta name="description"
		content="Comunidad emprendedora, granferia te brinda la posibilidad de crear tu stand y compartir tu emprendimiento. También vas a poder buscar, guardar y comprar productos o servicios.">

	<!-- Styles -->
	<link href="/css/styles.css" rel="stylesheet" type="text/css">
	<link href="/css/stylesNew.css" rel="stylesheet" type="text/css">


	<!-- Icons + App name -->
	<div th:replace="fragments :: meta-info"></div>

	<script src="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-auth.js"></script>
	<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-auth.css" />
</head>

<script>
	$(function () {
		$('.floating-menu .row').addClass('hidden');
		$('.floating-menu #main-menu').removeClass('hidden');
		$('#segment-main').removeClass('vh');
		$('.main-container').scrollLeft(left);
	});
</script>

<body>



	<span th:if="${cookie != null}">
		<span class="loading-spinner" id="loading-short">
			<img src="/img/gt/spinner.gif" width="300" height="300" alt="Cargando">
		</span>
	</span>

	<!-- Aceptación de cookies -->
	<span th:if="${cookie == null}">
		<span class="loading">
			<img src="/img/gt/load.gif" alt="granferia">
		</span>

		<div th:replace="fragments :: use-cookies"></div>
	</span>
	<!-- Navegación flotante -->
	<div th:replace="fragments :: floating-menu"></div>

	<div th:replace="fragments :: g-buscar-filtrar"></div>


	<div class="main-container">
		<!-- (IZQUIERDA) -->
		<div th:replace="fragments :: segment-menu"></div>

		<!-- (CENTRAL) -->
		<div class="segment" id="segment-main">
			<header>
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<img class="logo img-b close-search profile-clear" src="/img/gt/logo.svg" tabindex="1"
								alt="Te damos la bienvenida a granferia, la plataforma de emprendedores">
							<img class="logo img-w close-search profile-clear" src="/img/gt/logo-w.svg" tabindex="1"
								alt="Te damos la bienvenida a granferia, la plataforma de emprendedores">
						</div>
					</div>
				</div>
			</header>

			<!-- Header Bienvenida -->
			<div class="container" th:if="${session.usersession == null}">
				<div class="row">
					<div class="col-xs-12 col-lg-6">
						<div class="banner">
							<h1>Te damos la bienvenida a granferia.</h1>
							<div class="col-xs-12 col-lg-6">
								<div class="homePageWidth">
									<img class="homePageFullWidth" src="img/shared/home/homePage.png" alt="">
								</div>
							</div>
							<p class="x2">Podés navegar, descubrir y guardar lo que más te gusta, realizá tus pedidos en
								dos simples pasos.</p>
							<p class="x2">Además podés crear tu propio stand y mostrar lo que haces a la comunidad
								emprendedora.</p>

							<div class="hidden-xs">
								<a class="btn btn-primary" href="/crearcuenta" target="_self">Crear cuenta</a>
								<a class="underline text--center" href="/ingresar" target="_self">Ingresar</a>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-lg-6">
						<div class="homePageWidth1">
							<img class="homePageFullWidth" src="img/shared/home/homePage.png" alt="">
						</div>
					</div>
				</div>

				<div class="hidden-lg banner x0--top">
					<a class="btn btn-primary" href="/crearcuenta" target="_self">Crear cuenta</a>
					<a class="underline text--center" href="/ingresar" target="_self">Ingresar</a>
				</div>
			</div>
			
			<!-- Header crear -->
			<div class="container banner crear-emp-first" id="main-banner"
				th:if="${session.usersession != null}"
				sec:authorize="hasAnyRole('ROLE_USER')">
				<div class="row">
					<div class="col-xs-12 col-lg-6">
						<div class="banner">

							<h1>Tu emprendimiento en granferia.</h1>
							<div class="col-xs-12 col-lg-6">
								<div class="homePageWidth">
									<img class="homePageFullWidth" src="img/shared/home/homePage.png" alt="">
								</div>
							</div>
							<p class="x2">Creá y personalizá tu stand para mostrar tus productos en granferia, conocé <a
									class="underline x0 x0--top x0--left x0--right"
									style="display: inline-block; width: auto;" href="/emp/elegircuenta"
									target="_self">nuestros planes</a>.</p>

							<div class="hidden-xs">
								<span id="iduser" th:text="${session.usersession.id}" hidden></span>
								<a class="btn btn-large btn-primary" href="/emp/elegircuenta" target="_self">Crear
									emprendimiento gratis</a>
								<span class="btnEmpMasTarde underline text--center">Ocultar</span>
								
							</div>
							
						</div>
						<div class="btnEmpPedidos33"></div>
					</div>
                    

					<div class="col-xs-12 col-lg-6">
						<div class="homePageWidth1">
							<img class="homePageFullWidth" src="img/shared/home/homePage.png" alt="">
						</div>
					</div>
				</div>

				<div class="hidden-lg x0--top">
					<a class="btn btn-primary" href="/emp/elegircuenta" target="_self">Crear emprendimiento gratis</a>
					<span class="btnEmpMasTarde underline text--center">Ocultar</span>
				</div>
			</div>
				<div id="destacadosGranferia" class="container">
				<div class="row">
				<div class="col-xs-12 marginnn">
					<p class="productosDestacados">Productos Destacados</p>
				<section  class="emp">
					<article class="slide-row">
						<div class="content">
							
					<div id="agarraDestacados" class="col-xs-12 marginnn">
						<img class=spinner22S src=img/shared/spinner.gif>

						</div></div>
					</article>
					
			       </section>
					</div>
				    </div>
			</div>
			<div id="cercanos" th:if="${session.usersession}" class="container x5 hidden">
				<div class="row">
					
					<div class="col-xs-12 marginnn">
						<p class="productosDestacados">Emprendimientos cerca tuyo</p>
                       <a  class="btn btn-large btn-primary x2 maxx" target="_self">Activar
						ubicación</a>

						<div class="emp-container">

							<!-- Slider -->
							<article class="slide-row">
								<div id="templeateCercano" class="content">

									<!-- Card de producto o servicio -->

								</div>
							</article>
						</div>
					</div>
					</div>
			</div>
					<!-- Listado de emprendimientos -->
					<div class="container x5">
						<div class="row">
							<div class="col-xs-12">
								<!-- Seccion emprendimiento -->
								<div th:replace="fragments :: emprendimiento-home"></div>
							</div>
						</div>
					</div>
			
			

		</div>
		<div th:replace="fragments :: segment-profile"></div>

			<!-- Redirección al perfil-->
			<div th:if="${session.volverperfil != null}">
				<script>
					$(function () {
						openProfile();
					});
				</script>
			</div>
	</div>
		<!-- Buscar / Filtrar -->
		



		<section th:if="${session.usersession}" class="modal-container hidden" id="modalSeguir">

			<div id="editQuestion" class="modal-content">



				<button id="editQuestion2" class="btn right seguirEmprendimiento" type="button">Seguir
					emprendimiento</button>
				<button id="editQuestion2" class="btn right irEmprendimiento" type="button">Ver emprendimiento</button>
				<button class="btn close-modal" type="button">Atras</button>


				<!-- Preguntas -->

			</div>

			<span class="overlay"></span>
		</section>
		<!-- 	<section class="modal-container" >

		<div  class="modal-content">
	
	         <p class="pone">Activar ubicación</p>
			 <p class="ptwo">Para continuar, activa la ubicación que usa el servicio de ubicación del sitio web</p>
				
				
			<div class="btn-container">
				<button class="btn close-modal" type="button">Cancelar</button>
				<button class="btn right"  type="button">Activar</button>
			</div>

		
		</div>
	
		<span class="overlay"></span>
	</section> -->




		<div th:replace="fragments :: footer"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.6.1/dist/lazyload.min.js"></script>

<!-- Javascript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/puntitos.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>

<script type="text/javascript" src="/js/pedidos.js"></script>

<script>
	$(function () {
		$.ajax({
			method: "GET",
			url: base_url + "/categoria/removerspinner"
		});
	});
</script>

</html>