<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:if="${emprendimiento}"th:text="${emprendimiento.regEmpNombre}"></title>

	<!-- Styles -->
	<link href="/css/styles.css" rel="stylesheet" type="text/css">

	<!-- Icons + App name -->
	<div th:replace="fragments :: meta-info"></div>
</head>

<body th:class="'landing-public-page '+${emprendimiento.empLayout == 'layout1' ? 'layout-1 ' : 'layout-2 '} + ${emprendimiento.empTheme}">	
	
	<!-- Admin acciones -->
	<div class="admin-actions" sec:authorize="hasRole('SUPERADMIN')" th:if="${session.usersession != null}">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<p>Estas logueado como administrador</p>
				</div>

				<div class="col-xs-12 col-md-6">
						<button class="btn btn-primary" id="btnEliminarEmp">Eliminar stand</button>
					<p class="underline" id="btnAdminContactar">Contactar</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal: (Admin) Información de contacto -->
	<section class="modal-container hidden" id="contacto-modal" sec:authorize="hasRole('SUPERADMIN')" th:if="${session.usersession != null}">
		<div class="modal-content">
			<h2 class="question text--left x0--left x0--right x3">Contactar emprendimiento</h2>

			<div class="input-group x2">
				<p class="label-read">Nombre del titular</p>
				<p class="input-read" th:text="${emprendimiento.nombreRazonSocial}">Nombre</p>
			</div>

			<div class="input-group x2">
				<p class="label-read">Email</p>
				<p class="input-read" th:text="${emprendimiento.user.mail}">Email</p>
			</div>

			<div class="input-group x2">
				<p class="label-read">Teléfono</p>
				<p class="input-read" >+54 9 <span th:text="${emprendimiento.empTel}"></span></p>
			</div>

			<div class="btn-container">
				<button class="btn close-modal full--width"
					type="button">Volver</button>
			</div>
		</div>

		<span class="overlay close-modal"></span>
	</section>
	
	<!-- Calificación usuario -->
	<div th:replace="fragments :: pregunta-consumidor"></div>

	<!-- Modales: ADMIN Eliminar emprendimiento -->
	<section class="modal-container hidden" id="eliminar-emprendimiento">
		<form th:action="@{/emp/eliminar/}+${emprendimiento.id}" method="post">
		<div class="modal-content">
			<h2 class="question text--left x0--left x0--right x3">Advertencia</h2>
			<p class="x3">Este emprendimiento va a ser eliminado. Se van a eliminar todos los productos. Los pedidos pendientes serán rechazados.</p>
			<p class="x3">¿Continuamos?</p>

			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

			<div class="btn-container">
				<button class="btn close-modal" type="button">Volver</button>
				<button class="btn right" id="btnEliminarEmp" type="submit">Si, eliminar</button>
			</div>
		</div>
	</form>
		<span class="overlay close-modal"></span>
	</section>

	<!-- Navegación flotante -->
	<nav class="floating-menu">
		<div class="container">
			<div class="access-bar hidden" th:if="${session.usersession == null}">
				<div class="item">
					<a href="/ingresar" target="_self" title="Ingresar">Ingresar</a>
				</div>

				<div class="item">
					<a href="/crearcuenta" target="_self" title="Crear cuenta">Crear cuenta</a>
				</div>
			</div>

			<div class="access-bar-overlay hidden" th:if="${session.usersession == null}"></div>

			<!-- USER -->
			<div class="row user" id="main-menu" sec:authorize="hasRole('USER')" th:if="${session.usersession != null}">
				<div class="col-xs-12">
					<div class="menu-item menu-m m-33">
						<img class="img-b" src="/img/gt/nav/menu.svg" alt="Menu" title="Abrir menu">
						<img class="img-w" src="/img/gt/nav/menu-w.svg" alt="Menu" title="Abrir menu">
					</div>

					<a class="menu-item menu-h m-33" href="/" target="_self">
						<img class="img-b" src="/img/gt/nav/home.svg" alt="Home" title="Ir al home">
						<img class="img-w" src="/img/gt/nav/home-w.svg" alt="Home" title="Ir al home">
					</a>

					<a class="menu-item menu-a m-33 logged" href="/emp/devolverperfil" target="_self" th:if="${session.usersession != null}" title="Ir al perfil">
						<span class="avatar x2--top hidden-xs" th:style="'background-image:url('+@{/img/shared/avatars/} + ${session.usersession.avatar}+.jpg + '); background-size: cover'"></span>
						<span class="avatar hidden-lg" th:style="'background-image:url('+@{/img/shared/avatars/} + ${session.usersession.avatar}+.jpg + '); background-size: cover'"></span>
					</a>

					<div class="menu-item menu-a m-33" th:if="${session.usersession == null}">
						<span class="hidden-xs">
							<img class="img-b x2--top" src="/img/gt/nav/access.svg" alt="Acceder" title="Acceder">
							<img class="img-w x2--top" src="/img/gt/nav/access-w.svg" alt="Acceder" title="Acceder">
						</span>

						<span class="hidden-lg">
							<img class="img-b" src="/img/gt/nav/access.svg" alt="Acceder" title="Acceder">
							<img class="img-w" src="/img/gt/nav/access-w.svg" alt="Acceder" title="Acceder">
						</span>
					</div>
				</div>
			</div>

			<!-- SUPERADMIN -->
			<div class="row admin" id="main-menu" sec:authorize="hasRole('SUPERADMIN')" th:if="${session.usersession != null}">
				<div class="col-xs-12">
					<div class="menu-item menu-m m-33">
						<img class="img-b" src="/img/gt/nav/menu.svg" alt="Menu" title="Abrir menu">
						<img class="img-w" src="/img/gt/nav/menu-w.svg" alt="Menu" title="Abrir menu">
					</div>

					<a class="menu-item menu-h m-33" href="/" target="_self">
						<img class="img-b" src="/img/gt/nav/home.svg" alt="Home" title="Ir al home">
						<img class="img-w" src="/img/gt/nav/home-w.svg" alt="Home" title="Ir al home">
					</a>

					<a class="menu-item menu-a m-33 logged" href="/emp/devolverperfil" target="_self" th:if="${session.usersession != null}" title="Ir al perfil">
						<span class="avatar x2--top hidden-xs" th:style="'background-image:url('+@{/img/shared/avatars/} + ${session.usersession.avatar}+.jpg + '); background-size: cover'"></span>
						<span class="avatar hidden-lg" th:style="'background-image:url('+@{/img/shared/avatars/} + ${session.usersession.avatar}+.jpg + '); background-size: cover'"></span>
					</a>

					<div class="menu-item menu-a m-33" th:if="${session.usersession == null}">
						<span class="hidden-xs">
							<img class="img-b x2--top" src="/img/gt/nav/access.svg" alt="Acceder" title="Acceder">
							<img class="img-w x2--top" src="/img/gt/nav/access-w.svg" alt="Acceder" title="Acceder">
						</span>

						<span class="hidden-lg">
							<img class="img-b" src="/img/gt/nav/access.svg" alt="Acceder" title="Acceder">
							<img class="img-w" src="/img/gt/nav/access-w.svg" alt="Acceder" title="Acceder">
						</span>
					</div>
				</div>
			</div>

			<div class="row profile-clear hidden" id="menu-close">
				<div class="col-xs-12">
					<div class="menu-item m-close full--width">
						<img class="img-b" src="/img/gt/nav/close.svg" alt="Cerrar" title="Cerrar menu">
						<img class="img-w" src="/img/gt/nav/close-w.svg" alt="Cerrar" title="Cerrar menu">
					</div>
				</div>
			</div>

		</div>
	</nav>

	<div class="main-container x5 public-landing">

		<!-- (Menu) -->
		<div th:replace="fragments :: segment-menu"></div>

		<div class="segment">

			<header>
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="emp-header-min" id="emp-details">
								<span class="avatar camera huge" th:if="${emprendimiento.foto == null}"></span>
								<div class="avatar huge" th:if="${emprendimiento.foto != null}"
									th:style="'background:url(' + @{/foto/load/} + ${emprendimiento.foto.id} + '); background-size: cover'">
								</div>

								<div class="emp-info">
									<h2 th:text="${emprendimiento.regEmpNombre}"></h2>
									<p
										th:text="${emprendimiento.direccion.provincia.nombre}+', '+ ${emprendimiento.direccion.localidadEmp}">
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<div class="container x5">
				<div class="row">
					<div class="col-xs-12">
						<section class="emp">
							<p class="emp-description" th:text="${emprendimiento.regEmpDescripcion}">Descripción</p>
						</section>
					</div>
				</div>

				<!-- Categorias y productos -->
				<section th:each="categoria, i : ${categorias}" class="emp x3">

					<!-- Nombre categoría -->
					<h2 class="category-name x2">
						<span class="name" th:text="${categoria.nombre}"></span>
					</h2>

					<!-- Contenedor del producto -->
					<div th:replace="fragments :: card-producto-landing-public"></div>
				</section>
				<!-- <div class="row social-nets"  th:if="${emprendimiento.instagram != null && emprendimiento.instagram != '' || emprendimiento.facebook != null && emprendimiento.facebook != '' || emprendimiento.website != null && emprendimiento.website != '' || emprendimiento.esWhatsapp != null && emprendimiento.esWhatsapp != ''}">
					<div class="col-xs-12">
						<h3>Social</h3>
						<ul class="social-icons">
							<li th:if="${emprendimiento.instagram != null && emprendimiento.instagram != ''}">
								<a th:href="${''+ emprendimiento.instagram}" target="_blank" title="Abrir Instagram">
									<img class="img-b" src="/img/gt/icons/social-instagram.svg" alt="Instagram">
									<img class="img-w" src="/img/gt/icons/social-instagram-w.svg" alt="Instagram">
								</a>
							</li>

							<li th:if="${emprendimiento.facebook != null && emprendimiento.facebook != ''}">
								<a th:href="${''+ emprendimiento.facebook}" target="_blank" title="Abrir Facebook">
									<img class="img-b" src="/img/gt/icons/social-facebook.svg" alt="Facebook">
									<img class="img-w" src="/img/gt/icons/social-facebook-w.svg" alt="Facebook">
								</a>
							</li>

							<li th:if="${emprendimiento.esWhatsapp != null && emprendimiento.esWhatsapp != ''}">
								<a th:href="${'https://api.whatsapp.com/send/?phone=549' + emprendimiento.empTel + '&text=Hola%21+Te+encontré+en+Granferia%21+Quería+hacerte+una+consulta&app_absent=0'}" target="_blank" title="Abrir Whatsapp">
									<img class="img-b" src="/img/gt/icons/social-whatsapp.png" alt="Whatsapp">
									<img class="img-w" src="/img/gt/icons/social-whatsapp-w.png" alt="Whatsapp">
								</a>
							</li>

							<li th:if="${emprendimiento.website != null && emprendimiento.website != ''}">
								<a th:href="${''+ emprendimiento.website}" target="_blank" title="Abrir Website">
									<img class="img-b" src="/img/gt/icons/social-www.svg" alt="Website">
									<img class="img-w" src="/img/gt/icons/social-www-w.svg" alt="Website">
								</a>
							</li>
						</ul>
					</div>
				</div> -->
			</div>
		</div>
	</div>

	<div th:replace="fragments :: footer"></div>
</body>

<!-- Javascript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript" src="/js/landingEdit.js"></script>

<script>
	$(function () {
		$('.menu-m').click(function(){
			$('.main-container').removeClass('public-landing');
		});

		$('.m-close').click(function(){
			$('.main-container').addClass('public-landing');
		});

		if($('#main-menu').hasClass('admin')){
			$('nav.floating-menu').addClass('admin');
		} else {
			$('nav.floating-menu').removeClass('admin');
		}
	});
</script>

</html>