<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>granferia | Ingresar</title>

	<!-- Styles -->
	<link href="/css/styles.css" rel="stylesheet" type="text/css">

	<!-- Icons + App name -->
	<div th:replace="fragments :: meta-info"></div>
</head>

<body>

	<span class="loading-spinner hidden">
		<img src="/img/gt/spinner.gif" width="300" height="300" alt="Cargando">
	</span>

	<div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
	</div>

	<div class="main-container">

		<!-- Ingresar / Recuperar contraseña -->
		<div class="segment">

			<header>
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<a href="/" target="_self">
								<img src="/img/gt/logo.svg"
									alt="Te damos la bienvenida a granferia, la plataforma de emprendedores"
									class="logo" title="granferia">
							</a>
						</div>
					</div>
				</div>
			</header>

			<div class="container x5">
				<div class="row">
					<div class="col-xs-12 col-lg-8 hero-container">
						<span class="hero-image ingresar"></span>
					</div>

					<div class="col-xs-12 col-lg-4">
						<!-- Iniciar sesión -->
						<div id="segment-ingresar">
							<h1>Ingresar</h1>
							<h3>Login with:</h3>
							<p th:each="url : ${urls}">
								<a th:text="${url.key}" th:href="${url.value}">Client</a>
							</p>

						</div>

						<!-- Recuperar contraseña -->
						<div class="hidden" id="segment-recuperar">
							<h1 class="x2--top">Recuperar contraseña</h1>

							<h2 class="x4">Te vamos a mandar un mail para que puedas restablecer tu contraseña.
							</h2>

							<form class="x2" id="form-recuperar" action="/recuperarpassword" method="POST">
								<div class="input-group">
									<label class="form-label" for="recMail">Email</label>
									<input class="form-control" type="email" id="recMail" th:value="${mail}" name="mail"
										title="Email" required>
								</div>
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

								<button id="btnRecuperar" class="btn btn-primary x4" type="submit" disabled>Enviar
									email</button>

								<div class="row">
									<div class="col">
										<p class="small-letter light text--center" id="cta-ingresar"><span
												class="underline" tabindex="3">Volver a ingresar</span></p>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

<!-- Javascript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript" src="/js/acc.js"></script>


</html>