<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="${producto.nombreProductoServicio}"></title>

	<!-- Styles -->
	<link href="/css/styles.css" rel="stylesheet" type="text/css">

	<!-- Icons + App name -->
	<div th:replace="fragments :: meta-info"></div>
</head>

<body th:class="'product-public-page '+ ${emprendimiento.empTheme}">

	<span class="loading-spinner" id="loading-product"></span>

	<!-- Navegación flotante -->
	<nav class="floating-menu">
		<div class="container">
			<div class="access-bar hidden" th:if="${session.usersession == null}">
				<div class="item">
					<a href="/ingresar" target="_self" title="Ingresar">Ingresar</a>
				</div>

				<div class="item">
					<a href="/crearcuenta" target="_self" title="Crear cuenta">Crear cuenta</a>
				</div>
			</div>

			<div class="access-bar-overlay hidden" th:if="${session.usersession == null}"></div>

			<div class="row" id="main-menu">
				<div class="col-xs-12">
					<div class="menu-item menu-m m-33">
						<img class="img-b" src="/img/gt/nav/menu.svg" alt="Menu" title="Abrir menu">
						<img class="img-w" src="/img/gt/nav/menu-w.svg" alt="Menu" title="Abrir menu">
					</div>

					<a class="menu-item menu-h m-33" href="/" target="_self">
						<img class="img-b" src="/img/gt/nav/home.svg" alt="Home" title="Ir al home">
						<img class="img-w" src="/img/gt/nav/home-w.svg" alt="Home" title="Ir al home">
					</a>

					<a class="menu-item menu-a m-33 logged" href="/emp/devolverperfil" target="_self" th:if="${session.usersession != null}" title="Ir al perfil">
						<span class="avatar x2--top hidden-xs" th:style="'background-image:url('+@{/img/shared/avatars/} + ${session.usersession.avatar}+.jpg + '); background-size: cover'"></span>
						<span class="avatar hidden-lg" th:style="'background-image:url('+@{/img/shared/avatars/} + ${session.usersession.avatar}+.jpg + '); background-size: cover'"></span>
					</a>

					<div class="menu-item menu-a m-33" th:if="${session.usersession == null}">
						<span class="hidden-xs">
							<img class="img-b x2--top" src="/img/gt/nav/access.svg" alt="Acceder" title="Acceder">
							<img class="img-w x2--top" src="/img/gt/nav/access-w.svg" alt="Acceder" title="Acceder">
						</span>

						<span class="hidden-lg">
							<img class="img-b" src="/img/gt/nav/access.svg" alt="Acceder" title="Acceder">
							<img class="img-w" src="/img/gt/nav/access-w.svg" alt="Acceder" title="Acceder">
						</span>
					</div>
				</div>
			</div>

			<div class="row profile-clear hidden" id="menu-close">
				<div class="col-xs-12">
					<div class="menu-item m-close full--width">
						<img class="img-b" src="/img/gt/nav/close.svg" alt="Cerrar" title="Cerrar menu">
						<img class="img-w" src="/img/gt/nav/close-w.svg" alt="Cerrar" title="Cerrar menu">
					</div>
				</div>
			</div>

		</div>
	</nav>

	<!-- Modal: 1ra vez - Información de contacto -->
	<section class="modal-container hidden" id="contacto-usuario" th:if="${session.usersession != null}">
		<div class="modal-content">
			<h2 class="question text--left x0--left x0--right x3">Información de contacto</h2>
			<p class="x3">Necesitamos que nos compartas tu contacto para poder realizar el encargo al emprendimiento.
			</p>

			<div class="row x2">
				<div class="col-3">
					<span class="input-read-only text--center">+54 9</span>
				</div>

				<div class="col-9">
					<div class="input-group">
						<label class="form-label" for="celular">Número celular</label>
						<input class="form-control editable x1" name="celular" id="celular" th:value="${session.usersession.celular}" maxlength="10" type="tel" onkeyup="this.value=this.value.replace(/[^\d]/,'')"
							aria-describedby="userTelHelp">
					</div>

					<div class="form-text x2" id="userTelHelp">10 números sin guiones ni espacios.</div>
				</div>
			</div>

			<span th:text="${session.usersession.id}" th:if="${session.usersession}" id="idusuario" hidden></span>
			<div class="btn-container">
				<button class="btn close-modal" type="button">Volver</button>
				<button class="btn close-modal right" id="btnMostrarPago" type="button">Siguiente</button>
			</div>
		</div>

		<span class="overlay close-modal"></span>
	</section>

	<!-- Página de producto -->
	<div class="main-container emp-product-page x5">
		
		<!-- (Menu) -->
		<div th:replace="fragments :: segment-menu"></div>

		<!-- Foto abierta -->
		<div class="modal-image hidden">
			<div class="row">
				<div class="col-xs-12">
					<img class="close-photo" src="/img/gt/card/close.png" alt="Cerrar">
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<img class="photo" alt="Imagen sin descripción">
				</div>
			</div>
		</div>

		<div class="segment">
			<div class="emp-header-min">
				<a target="_self" th:href="'/' + ${emprendimiento.regEmpDir}">
					<span th:if="${emprendimiento.foto != null}" class="emp-logo"
					th:style="'background:url(' + @{/foto/load/} + ${emprendimiento.foto.id} + '); background-size: cover'"></span>

					<span th:if="${emprendimiento.foto == null}" class="emp-logo default"></span>

					<div class="emp-info">
						<h2 th:text="${emprendimiento.regEmpNombre}"></h2>
						<p
							th:text="${emprendimiento.direccion.provincia.nombre}+', '+ ${emprendimiento.direccion.localidadEmp}">
						</p>
					</div>
				</a>
			</div>

			<div class="container column-wrapper x3">
				<div class="row">
					<div class="col-xs-12">
						<h1 class="title text--center" th:text="${producto.nombreProductoServicio}">Nombre</h1>
						<h2 class="description text--center" th:text="${producto.descripcion}">Descripción</h2>

						<section class="emp-slider">
							<article class="slide-row">
								<div class="content">
									<span class="block full--width">
										<div class="slide-card" th:each="foto : ${producto.foto}"
											th:style="'background:url(' + @{/foto/load/} + ${foto.id} + '); background-size: cover !important'">
											<p class="alt">Fotografía</p>
										</div>
									</span>
								</div>
							</article>
						</section>

						<div class="head-details x3">
							<span class="text">Precio</span>
							<span th:if="${producto.aCotizar == null}">
								<span class="value">$ <span class="price" id="precio-subtotal"
									th:text="${producto.precio}"></span></span>
							</span>

							<span th:if="${producto.aCotizar != null}">
								<span class="value" style="font-size: 18px;">A cotizar</span>
							</span>
							
						</div>

						<!-- <div class="accordion x3">
							<div class="head-details">
								<span class="text">Comentarios (<span id="section-length"></span>)</span>
							</div>

							<div class="row-container">
								<div class="section">
									<div class="name-section">
										<span class="name">Daniela</span>
									</div>

									<div class="text">Compré 3 para regalar, muy buenos</div>
									<div class="date">Ayer</div>
								</div>

								<div class="section">
									<div class="name-section">
										<span class="name">DOMO</span>
									</div>

									<div class="text">Son un poco más chicos de lo que parecen</div>
									<div class="date">23 de julio</div>
								</div>

								<div class="section">
									<div class="name-section">
										<span class="name">Martu Benitez</span>
									</div>
									<div class="text">Muy buenos! compré el grande que es de 10cm de alto aprox. Es
										mejor
										dejarle la yerba en los primeros usos, para que se cure más rápido.</div>
									<div class="date">15 de julio</div>
								</div>

								<button class="btn btn-secondary x3--top" type="button">Dejar un comentario</button>
							</div>
						</div> -->

						<div class="row x1">
							<div class="col-xs-12">
								<div class="head-details">
									<span class="full--width">Stock</span>

									<span class="stock-value" th:if="${producto.stock == 'disponible'}">
										<span id="stock-cantidad" th:text="${producto.unidProducto}"></span> unidades
										disponible
									</span>

									<span class="stock-value" th:if="${producto.stock == 'sinStock'}">
										Sin stock disponible
									</span>

									<span class="stock-value" th:if="${producto.stock == 'aPedido'}">
										A pedido (disponible 
											<span th:if="${producto.tiempoEnvio == '7diasDespues'}">7 días después de tu encargo)</span>
											<span th:if="${producto.tiempoEnvio == 'hasta14'}">hasta 14 días después de tu encargo)</span>
											<span th:if="${producto.tiempoEnvio == 'masDe15Dias'}">pasados los 15 días de tu encargo)</span>
											<span th:if="${producto.tiempoEnvio == 'hasta30Dias'}">30 días después de tu encargo)</span>
									</span>

								</div>
							</div>
						</div>

						<div class="row x2" th:if="${emprendimiento.haceEnvios == false}">
							<div class="col-xs-12">
								<div class="head-details">
									<span class="full--width">Envios</span>
									<span class="stock-value">
										No realiza envios a domicilio
									</span>
								</div>
							</div>
						</div>

						<div class="row x2" th:if="${emprendimiento.haceEnvios == true}">
							<div class="col-xs-12">
								<div class="head-details">
									<span class="full--width">Envios</span>
									<span class="stock-value">
										Realiza envios a domicilio
									</span>
								</div>
							</div>
						</div>

						<div class="head-details">
							<span class="text">Este emprendimiento acepta:</span>
						</div>

						<ul class="payments-method bottom-divider x3">
							<li th:if="${producto.efectivo}"><span class="icon cash"></span> Efectivo</li>
							<li th:if="${producto.tarjetas}"><span class="icon cards"></span> Débito / Crédito</li>
							<li th:if="${producto.mercadopago}"><span class="icon mp"></span> MercadoPago</li>
						</ul>

						<form action="/pedido/crearpedido" method="POST">
							<!-- Modal: Pago y entrega -->
							<section class="modal-container hidden" id="pago-entrega">
								<div class="modal-content">
									<h2 class="question text--left x0--left x0--right x3">Pago y entrega</h2>
									<p class="x3">Tené en cuenta que no se te efectuará ningún cobro ahora.</p>
									<p class="x3">Deberás pagar cuando el producto se te entregue, por alguno de los
										medios de pago disponibles.
									</p>

									<!-- <div class="form-check x2">
										<input class="form-check-input" th:name="esWhatsapp" type="checkbox"
											id="telWapp">
										<label class="form-check-label" for="telWapp">No volver a mostrar</label>
									</div> -->

									<div class="btn-container">
										<button class="btn close-modal" type="button">Volver</button>
										<button class="btn close-modal right" id="btnLoQuieroConfirmar"
											type="submit">Confirmar</button>
									</div>
								</div>

								<span class="overlay close-modal"></span>
							</section>

							<div class="row x1">
								<div class="col-4 col-lg-3" th:if="${producto.stock == 'disponible'}">
									<h2 class="x2">Cantidad</h2>
									<select class="form-select x2" id="prodCantidad" th:name="prodCantidad">
									</select>
								</div>

								<span th:text="${session.usersession.id}" th:if="${session.usersession}"
									th:name="idusuario" hidden></span>

								<div class="col-8 col-lg-9" th:each="grupo : ${producto.variables}">
									<h2 class="x2" th:text="${grupo.nombre}">Custom opción</h2>
									<input class="hidden" type="text" name="variable"th:value="${grupo.nombre}">

									<select th:name="item" class="form-select default">
										<option selected>Seleccionar opción</option>
										<option th:each="valor : ${grupo.valores}" th:text="${valor.nombre}" th:value="${valor.nombre}" >Item</option>
									</select>
								</div>
							</div>
							<input type="hidden" th:name="nombreProducto" th:value="${producto.nombreProductoServicio}">

							<div class="row x3 bottom-divider" th:if="${producto.unidProducto != null}">
								<div class="col-12">
									<h2 class="x2">Notas</h2>
									
									<div class="input-group">
										<label class="form-label" for="prodNota">¿Alguna nota, pedido o detalle?</label>
										<input class="form-control" th:name="prodNota" id="prodNota" type="text">
									</div>

									<div class="row" th:if="${emprendimiento.contadorPedidos ge 5}">
										<div class="col-xs-12">
											<p class="italic x2 x2--top">"El Emprendimiento no está recibiendo pedidos"</p>
										</div>
									</div>
								</div>
							</div>

							<input type="hidden" th:name="idUsuario" th:if="${session.usersession}"
								th:value="${session.usersession.id}">
							<input type="hidden" th:name="idEmprendimiento" th:value="${emprendimiento.id}">
							<input type="hidden" th:name="idProducto" th:value="${producto.id}">
							
							<input type="text" th:name="precio" id="precio-subtotal-draft" hidden>
							<input type="text" th:name="total" id="precio-total-draft" hidden>

							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

							<div th:if="${emprendimiento.contadorPedidos le 4}">
								<div class="head-details x2">
									<span class="text">Total</span>
									<span th:if="${producto.aCotizar == null}">
										<span class="value">$ <span class="price inline--block" id="precio-total"></span></span>
									</span>
	
									<span th:if="${producto.aCotizar != null}">
										<span class="value">A cotizar</span>
									</span>
								</div>

								<div th:if="${session.usersession}">
									<div th:if="${producto.unidProducto != null || producto.unidProducto == ''}">
										<!-- Sin celular guardado - Modal -->
										<button th:if="${session.usersession.celular == null || session.usersession.celular == ''}" class="btn btn-primary x3" id="btnInfoContacto" type="button">Lo quiero</button>
	
										<!-- Default - Modal -->
										<button th:if="${session.usersession.celular != null && session.usersession.celular != ''}" class="btn btn-primary x3" id="btnLoQuieroModal" type="button">Lo quiero</button>
									</div>
								</div>
	
								<!-- Sin stock -->
								<button th:if="${producto.unidProducto == null || producto.unidProducto == ''}" class="btn btn-primary x3" type="button" disabled>Sin stock</button>
								<!-- Deslogueado -->
	
								<a class="btn btn-primary" x3 href="/ingresar" target="_self" th:if="${session.usersession == null && producto.unidProducto != null}">Lo quiero</a>
	
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments :: footer"></div>

</body>

<!-- Javascript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript" src="/js/landingProducto.js"></script>

</html>