<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>granferia | Políticas de datos y privacidad</title>

	<!-- Styles -->
	<link href="/css/styles.css" rel="stylesheet" type="text/css">

	<!-- Icons + App name -->
	<div th:replace="fragments :: meta-info"></div>
</head>

<body>
	<div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
	</div>

	<div class="main-container">

		<!-- Ingresar / Recuperar contraseña -->
		<div class="segment">

			<header>
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<a href="/" target="_self">
								<img src="/img/gt/logo.svg"
									alt="Te damos la bienvenida a granferia, la plataforma de emprendedores"
									class="logo" title="granferia">
							</a>
						</div>
					</div>
				</div>
			</header>

			<div class="container column-wrapper x5">
				<div class="row">
					<div class="col-xs-12">
						<div class="text-content terms">
							<h1>Políticas de datos y privacidad</h1>

							<p class="bold">Generalidades</p>
							<p class="x2">El siguiente documento contiene la política de uso de datos que Granferia.online recaba de sus usuarios y la declaración de privacidad. El mismo forma parte integrante de los Términos y Condiciones de Granferia.online (en adelante Granferia o la empresa).</p>
							<p class="x2">Cada usuario, al registrarse en la plataforma compartirá voluntariamente cierta información, que incluye nombre, dirección de correo electrónico, número de teléfono, denominación o razón social, Clave Única de Identificación Tributaria, según corresponda, a los efectos del registro y del uso de la plataforma.</p>
							<p class="x4">Granferia entiende a la protección de los datos personales como una oportunidad para generar valor para cada uno de sus usuarios. Haciendo un uso responsable de la información personal, no sólo se protege la privacidad de quienes confían sus datos a la empresa, sino que les permite operar con seguridad y confianza en la plataforma. </p>

							<p class="bold">Información recolectada</p>
							<p class="x2">Granferia recolecta información personal para que cada usuario pueda disfrutar de los servicios de la plataforma. Al registrarse en la misma, la información personal la facilita directamente el usuario, de manera libre y voluntaria. En otros casos la información es recolectada automáticamente, al navegar por la plataforma o al hacer uso del servicio de la misma. </p>
							<p class="x4">Ninguna persona que acceda al sitio on-line y/o a la plataforma, tiene  la obligación de proporcionar ningún tipo de información personal. Sin embargo, el registro es un requisito esencial para poder contratar o hacer uso del servicio que brinda Granferia a sus usuarios. En caso que no se desee proporcionar esta información, no se podrá hacer uso del servicio de Granferia. </p>

							<p class="bold">Información falsa o inexacta</p>
							<p class="x4">Cada usuario que se registre y brinde datos a la plataforma es responsable de la exactitud y veracidad de los mismos. Los cuales podrán ser actualizados y rectificados en la sección de ajustes correspondientes. La inexactitud o falsedad de los datos personales y/o cualquier otro dato que proporcione el usuario, causará la suspensión de la o las cuentas del usuario en cuestión y el acceso a los servicios de la plataforma. Asimismo, Granferia podrá suspender o inhabilitar definitivamente a aquellos usuarios que violen la presente política de datos y de privacidad.</p>
							
							<p class="bold">Datos que la empresa recolecta:</p>
							<p class="x4">Información que proporciona el usuario directamente al registrarse o utilizar el servicio:</p>
							
							<div style="padding: 0 20px">
								<p class="bold">Usuario cliente:</p>
								<p class="x2">Nombre de usuario (alias o nombre real) para operar en la plataforma, información personal (como número de teléfono, dirección de correo electrónico). Al aceptar los términos y condiciones de registro, el usuario acepta proporcionar esta información y datos para el adecuado uso y seguridad de la plataforma de Granferia. Los datos como su número de teléfono y dirección de correo electrónico no son de acceso público, es decir, jamás se mostrarán en ningún momento en la plataforma. Sirviendo solo para los fines que se detallan a continuación.</p>

								<p class="bold">Usuario emprendedor:</p>
								<p class="x2">Nombre del emprendimiento (el cual puede consistir en: Nombre completo, en caso de ser persona humana, denominación social, designación comercial, marca, o nombre de fantasía, ya sea que el mismo se encuentre o no registrado) para operar en la plataforma, Denominación o razón social, información personal (como número de teléfono, dirección de correo electrónico, ubicación geográfica del emprendimiento y clave única de identificación tributaria). Al aceptar los términos y condiciones de registro, el usuario emprendimiento acepta proporcionar esta información y datos para el adecuado uso de la plataforma de Granferia. Los datos como su número de teléfono y dirección de correo electrónico no son de acceso público, es decir, jamás se mostrarán en ningún momento en la plataforma. La ubicación geográfica exacta, tampoco se mostrará visible en el sitio, salvo que el usuario emprendedor así lo configure manualmente.</p>
							</div>

							<p class="bold">Información que el sitio recopila de manera automática:</p>
							<p class="x2">Información de los dispositivos o computadoras desde los que el usuario accede a la plataforma y otros datos capturados automáticamente (como el tipo o versión del navegador o del sistema operativo, configuraciones); Dirección IP de internet; Información transaccional y movimientos dentro de la plataforma; Cierta información sobre la actividad de los usuarios y visitantes dentro del sitio web. También las páginas visitadas dentro de Granferia, las interacciones con dichas páginas, las búsquedas realizadas, las publicaciones, entre otra información podrá ser almacenada y retenida; Vinculaciones entre cuentas y usuarios, con motivo de acciones de prevención del fraude. Al utilizar el sitio de Granferia, el usuario acepta proporcionar esta información y datos para el uso de la plataforma.</p>

							<p class="bold x2">Uso de datos recopilados Granferia se compromete a usar la información para proporcionar y mejorar la experiencia del usuario, que incluye lo siguiente:</p>
							<p class="x1">1) Identificar al usuario cuando usa la plataforma</p>
							<p class="x1">2) Responder a sus preguntas o comentarios</p>
							<p class="x4">3) Mejorar las funcionalidades del Servicio</p>

							<p class="bold">Cookies:</p>
							<p class="x4">Granferia utiliza cookies propias, para identificar los intereses de los usuarios en función de su actividad dentro del sitio. Esto sirve para personalizar y mejorar la experiencia de los usuarios en Granferia.online, sugerir contenido y analizar el tráfico.</p>

							<p class="bold">Uso de datos personales</p>
							<p class="x4">Granferia podrá utilizar la información personal para las siguientes finalidades:</p>

							<p class="x2 list-style">Registrar correctamente a cada usuario en el sistema.</p>
							<p class="x2 list-style">Verificar la identidad de los usuarios en cumplimiento de exigencias legales y en prevención del fraude y de sustitución de identidad.</p>
							<p class="x2 list-style">Facilitar el contacto directo entre el usuario cliente y el usuario emprendedor, para concretar sus órdenes de pedido. En ese caso se proporcionarán los datos de número de teléfono y correo electrónico al emprendimiento y al cliente. El usuario cliente acepta que al realizar un pedido su información personal será visible para el emprendimiento en cuestión y viceversa.</p>
							<p class="x2 list-style">Elaborar y mantener un registro de todas las operaciones que cada usuario realice.</p>
							<p class="x2 list-style">Atender comentarios, quejas y sugerencias del usuario cliente, así como brindarle soporte a todos los usuarios de la plataforma.</p>
							<p class="x2 list-style">Personalizar los servicios para hacer que las experiencias con Granferia sea lo más cómoda posible.</p>
							<p class="x2 list-style">Contribuir a la seguridad de las relaciones, comunicaciones y transacciones entre todos los tipos de usuarios de la Plataforma.</p>
							<p class="x2 list-style">Elaborar un sistema de reputación de usuarios emprendimientos, para beneficio del resto de los usuarios.</p>
							<p class="x2 list-style">Mejorar nuestros servicios, desarrollar nuevos y ofrecer una mejor experiencia con la plataforma.</p>
							<p class="x2 list-style">Brindar información a través de diferentes canales, sobre mejoras o nuevas funciones o servicios de la plataforma.</p>
							<p class="x2 list-style">Cumplir, eventualmente con obligaciones legales y requerimientos de autoridades competentes.</p>
							<p class="x2 list-style">Cumplir con la normativa que le sea aplicable a Granferia.online en general.</p>
							<p class="x2 list-style">Cumplimiento de requerimientos informativos de autoridades administrativas o judiciales competentes.</p>
							<p class="x2 list-style">Detectar y prevenir fraudes, abusos y delitos relacionados para proteger la seguridad de los usuarios y la sustentabilidad de la plataforma.</p>
							<p class="x2 list-style">Hacer que la plataforma crezca de una manera sustentable y segura mediante herramientas y acciones de prevención del fraude y delitos relacionados.</p>
							<p class="x2 list-style">Proteger derechos de usuarios.</p>
							<p class="x2 list-style">Hacer valer los derechos de Granferia ante incumplimientos de sus Términos y Condiciones.</p>
							<p class="x2 list-style">Permitir que otros usuarios o terceros puedan hacer valer sus derechos.</p>
							<p class="x2 list-style">Colaborar con la protección de los derechos de propiedad intelectual o industrial, e investigaciones de violación de marcas y patentes.</p>
							<p class="x2 list-style">Colaborar con entidades privadas que representen intereses colectivos con acuerdo de colaboración, para facilitar la resolución de las disputas.</p>
							<p class="x4 list-style">Contactarse con los usuarios a través de diferentes canales (por correo electrónico, mensajes cortos de texto (SMS), mensajes push, mensajes via Whatsapp, llamada telefónica o cualquier otro medio).</p>
						
							<p class="bold">Cambio o modificación en las finalidades del uso de datos:</p>
							<p class="x2">La utilización de los datos para cualquier otra finalidad que no sea compatible con las detalladas anteriormente será comunicada al usuario antes de que se proceda a su tratamiento. </p>
							<p class="x4">Cada usuario podrá aceptar o rechazar las mismas, pudiendo asimismo darse de baja en cualquier tiempo y solicitar que todo registro de su información personal sea borrada definitivamente.</p>
						
							<p class="bold">Transferencia de información:</p>
							<p class="x4">Granferia, no vende ni comercializa información que identifique a los usuarios. Tampoco comparte o transfiere de ningún otro modo la información personal a terceros.</p>

							<p class="bold">Confidencialidad de la Información Personal y Responsabilidad de los Usuarios:</p>
							<p class="x4">Granferia hará todo lo que esté a su alcance para proteger la privacidad de la información personal. Sin perjuicio de ello, el usuario será responsable de todos los actos que tengan lugar mediante el uso de su cuenta. Si por cualquier razón el mismo cree que alguien puede conocer su clave, el usuario deberá modificarla eligiendo la opción correspondiente en configuración de la cuenta. Granferia no se hace responsable por la vulneración de contraseñas.</p>

							<p class="bold">Ley Aplicable y Jurisdicción:</p>
							<p class="x4">La Políticas de Privacidad se rigen por las Leyes de la República Argentina, cualquier controversia o divergencia relacionada con la interpretación, validez, celebración o cumplimiento de la presente, se resolverá por los tribunales ordinarios competentes de la República Argentina.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments :: footer"></div>


</body>

<!-- Javascript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>


</html>