<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>granferia | Soporte</title>

	<meta name="description"
		content="Comunidad emprendedora, granferia te brinda la posibilidad de crear tu stand y compartir tu emprendimiento. También vas a poder buscar, guardar y comprar productos o servicios.">

	<!-- Styles -->
	<link href="/css/styles.css" rel="stylesheet" type="text/css">

	<!-- Icons + App name -->
	<div th:replace="fragments :: meta-info"></div>
	<script src="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-auth.js"></script>
	<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-auth.css" />
</head>

<body>
		<!-- Navegación flotante -->
		<nav class="floating-menu inner-page">
			<div class="container">
				<div class="row one-item">
					<div class="col-xs-12">
						<div class="menu-item full--width" onclick="history.back()">
							<img src="/img/gt/nav/close.svg" alt="Cerrar" title="Cerrar página">
						</div>
					</div>
				</div>
	
			</div>
		</nav>
	
		<div class="main-container">
			<div class="segment">
	
				<header>
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<a href="/" target="_self">
									<img src="/img/gt/logo.svg"
										alt="Te damos la bienvenida a granferia, la plataforma de emprendedores"
										class="logo profile-clear" title="granferia">
								</a>
							</div>
						</div>
					</div>
				</header>
	
				<div class="container inner-page banner">
					<div class="row">
						<div class="col-xs-12 col-md-8">
							<div class="text-content text-select">
								<h1 class="x5 x5--top">Soporte</h1>
								<h2 class="x4">Te compartimos una lista de preguntas frecuentes, y te dejamos nuestro mail para que nos escribas.</h2>
								
								<h2 class="bold x1">¿Para registrar mi emprendimiento tengo que pagar algo?</h2>
								<h2 class="x2">NADA, sumar tu emprendimiento es completamente GRATIS y podrá permanecer siempre en la plataforma de manera gratuita.</h2>

								<h2 class="bold x1">¿Por qué tengo que registrarme si no soy usuario emprendedor?</h2>
								<h2 class="x2">Si sos un usuario no emprendedor de Granferia, es necesario que te registres para poder calificar un emprendimiento y contactar a los emprendimientos.</h2>

								<h2 class="bold x1">¿Puedo comprar directamente por la plataforma?</h2>
								<h2 class="x4">Por el momento no está disponible esa opción pero puedes ponerte en contacto rápidamente con el emprendimiento y arreglar con él la entrega y pago.</h2>

								<h2 class="x0">Escribinos a</h2>
								<a class="block underline x0--left x0--top x4" target="_blank" href="mailto:administracion@granferia.online">administracion@granferia.online</a>
							</div>
						</div>
					</div>
				</div>
	
			</div>
		</div>
	
		<div th:replace="fragments :: footer"></div>
</body>

	<!-- Javascript -->
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>



</html>